@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
} 
 body {
    font-family: LOto, sans-serif;
    font-weight: 250;
    color: black;
    
 }
 h1, h2 {
   font-family: Poppins, sans-serif;   
    color: black;
    text-transform: capitalize;
    
 }

 #loga {
   font-size: 300%;
   float: left;
   margin-left: 25px;
 }

 #home {
   float: right;
   

